In [ ]:
from random import randint

In [ ]:
from collections import defaultdict

In [ ]:
import pandas as pd
from itertools import chain
from collections import Counter
import os

In [ ]:
from zipfile import ZipFile

In [ ]:
zf = ZipFile('./QUIZ_ON_CMD.zip')

In [ ]:
quiz_collections  = []
for i in zf.filelist:
    if i.filename.endswith('.csv') == False:
        quiz_collections.append(i.filename)

In [ ]:
quiz_collections

In [ ]:
csv_files  = []
for i in zf.filelist:
    if i.filename.endswith('.csv'):
        csv_files.append(i.filename)

In [ ]:
def sort_function(list_01, extra='A_Bunch_of_Text_'):
    '''Sort by intgers not string; i.e. 29 comes before 100!'''
    result = [i.replace(extra, '') for i in list_01] # REMOVE PREFIXES IF NECESSARY; LIKE FOLDER PATH.
    result = [''.join([i for i in j if i.isnumeric()]) for j in result] # What remains only valid file name
    
    result = list(zip(list_01, result)) # zip input and output
    
    result = [(j ,'0') if (set(i) == {'0'}) else (j, i.lstrip('0')) for (j, i) in result]
    
    try:
        result = sorted(result, key= lambda i: int(i[1]))
        return [i[0] for i in result]
    
    except Exception as e:
        print('ERROR: Sort Exception!')
        print(e)
    assert len(list_01) == len(result),f'Something went wrong; input size {len(list_01)} should equal output {len(result)} size!'

In [ ]:
dict_collection_vs_file = defaultdict(list)
for quiz in quiz_collections:
    for csv_f in csv_files:
        if csv_f.startswith(quiz):
            dict_collection_vs_file[quiz].append(csv_f)
dict_collection_vs_file = dict(dict_collection_vs_file)

In [ ]:
dict_collection_vs_file = {k: sort_function(v, k) for k,v in dict_collection_vs_file.items()}

In [ ]:
list_quiz_collection = list(dict_collection_vs_file)

In [ ]:
list_quiz_collection

In [ ]:
dict_dig_vs_collection = {idx:i for (idx, i) in enumerate(list_quiz_collection)}

In [ ]:
print('Available Quiz Collections are as Follows:')
for (idx, q) in enumerate(list_quiz_collection):
    print(f'{idx} : {q.replace("/", "")}')
    print('----------------------------------------------------')

In [ ]:
quiz_type = int(input(f"""
Enter the number of the of quiz you want to test yourself in:
Enter an a number between {0} and {len(list_quiz_collection)-1} INCLUSIVE.
"""))

In [ ]:
print(f"""
You'll be tested in the following collection:
{dict_dig_vs_collection[quiz_type].replace("/", "")}""")

In [ ]:
with open('COMPLETED_QUIZZES.txt', encoding='utf-8', mode='+a') as f:
    set_completed_quizzes = set([i.strip() for i in f.readlines()])

set_completed_quizzes

In [ ]:
quiz_list = dict_collection_vs_file[dict_dig_vs_collection[quiz_type]]

In [ ]:
quiz_list = [i for i in quiz_list if i not in set_completed_quizzes]

In [ ]:
quiz = quiz_list[0]

In [ ]:
df = pd.read_csv(zf.open(quiz), encoding='utf-8')
df = df.sample(frac=1).reset_index(drop=True)
print(f'Number of Questions in this Quiz: {len(df)}')

In [ ]:
df =  list(zip(df.QUESTION_TEXT, df.OPTION_1, df.OPTION_2, df.OPTION_3))

In [ ]:
score = 0
progress = 0
number_of_questions = len(df)
incorrect = 0


print(number_of_questions)
for (idx, q) in enumerate(df):
    print(f'Question: {idx + 1}')
    print(q[0])
    answer = input("".strip()).lower()
    if answer in q[1:]:
        print(f'''
Correct!
''')
        score += 1
    else:
        print(f""" 
The word we're looking for is {q[1].upper()}!
        """)
        incorrect += 1
    
    
    print(f'Current score is {100 * score} ---- {score} Correct Answer; {incorrect} Incorrect Answer')
    print(f'{idx + 1} of {number_of_questions}; {number_of_questions - (idx + 1)} to go!')
    print('-'*140)

# ALWAYS CLOSE ZIP FILE!!!

In [ ]:
print('Closing ZIP FILE!')
zf.close()
print('End of Quiz; Goodbye!')

In [ ]:
with open('COMPLETED_QUIZZES.txt', encoding='utf-8', mode='+a') as f:
    f.write(f'{quiz}\n')

In [10]:
set().union(set())

set()

In [13]:
test = pd.DataFrame()

In [14]:
quiz = ['hel']

In [15]:
test['QUIZ'] = quiz

In [16]:
test

  QUIZ
0  hel

In [20]:
cols = 'COL_01 COL_02 COL_03'.split()
data = {col: [] for col in cols}

In [24]:
test = pd.DataFrame(data)

In [30]:
test

Empty DataFrame
Columns: [COL_01, COL_02, COL_03]
Index: []

In [37]:
pd.DataFrame().append(test).append([0,1,5], ax)

   COL_01  COL_02  COL_03    0
0     NaN     NaN     NaN  0.0
1     NaN     NaN     NaN  1.0
2     NaN     NaN     NaN  5.0

In [38]:
df_incorrect = pd.DataFrame()
df_incorrect['QUESTION_TEXT'] = []
df_incorrect['OPTION_1'] = []
df_incorrect['OPTION_2'] = []
df_incorrect['OPTION_3'] = []

In [40]:
df_incorrect.to_csv('REVISE_QUIZ.csv', encoding='utf-8', index=False)

In [43]:
df_incorrect['QUESTION_TEXT'].append

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid